<h1>Carrito n° {{cart}}</h1>

{{#each productsCart}}
    <div>
        <h2>{{this.product.title}}</h2>
        <ul>
            <li>ID: {{this._id}}</li>
            <li>Descrpción:{{this.product.description}}</li>
            <li>Precio:{{this.product.price}}</li>
            <li>Código:{{this.product.code}}</li>
            <li>Stock:{{this.product.stock}}</li>
        </ul>
        <img src="{{this.product.thumbnail}}" alt="">
    </div>

{{/each}}