<h1>Detalle {{this.title}}</h1>

 <div>
        
        <ul>
            <li>ID: {{this._id}}</li>
            <li>Descrpción:{{this.description}}</li>
            <li>Precio:{{this.price}}</li>
            <li>Código:{{this.code}}</li>
            <li>Stock:{{this.stock}}</li>
        </ul>
        <img src="{{this.thumbnail}}" alt="">
    </div>
    <div>
        <a href="http://localhost:8080/products">Regresar</a>
    </div>
      <form >
        <input type="submit" value="Agregar al carrito" />
    </form>
    <div>